html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fbf0e8;
  }
  
  .narrownav {
    display: flex; /* add flexbox layout */
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .narrownav a {
    flex: 1; /* distribute available space equally */
    display: block;
    color: lightgray;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Change color on hover */
  .narrownav a:hover {
    background-color: #f8d0d0;
    color: black;
  }
  
  /* Align the link on the right */
  .narrownav a.right {
    margin-left: auto;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-image: url(https://i.pinimg.com/736x/c2/68/87/c268872f4a2819a7e71938a513ab9c65.jpg);
  }
  
  .side ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .side ul li {
    flex-grow: 1;
  }
  
  .side ul li a {
    display: block;
    padding: 0.5em;
    background-color: #333;
    text-align: left;
    margin-bottom: 0.2em; /* give spacing between links */
    text-decoration: none; /* remove hyperlink */
    color: lightgray;
    width: 100%;
  }

  #feedbacktab, #abouttab, #bookmarktab{
    background-color: #6c6c6c;
  }

  #abouttab:hover{
  background-color: #f8d0d0;
    color: black;
  }

  #bookmarktab:hover{
    background-color: blue;
    color: lightgray;
  }

  #feedbacktab:hover{
    background-color: green;
    color: lightgray;
  }
  
  .side ul li a:hover {
  background-color: #f8d0d0;
    color: black;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: #fbf0e8;
    padding: 20px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center;
    justify-content: center;
  }

  .imperial-recipe {
    text-align: left;
  }
  
  .metric-recipe {
    text-align: left;
  }
  
  img {
    height: auto;
    max-width: 70%;
    box-shadow: 5px 5px #f9688d;
  }
  
  .narrownav {
    display: none;
  }
  
  .imperial-recipe {
    display: none;
  }

  table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  table, th, td {
    border: none;
  }

  #thumbnail {
    height: auto;
    max-width: 50%;
    box-shadow: 3px 3px #f9688d;
    margin: 5px;
  }

  #viewBtn {
    flex: 0.32; /* distribute available space equally */
    display: block;
    color: #333;
    text-align: center;
    padding: 0.5em;
    text-decoration: none;
    background-color: lightgray;
    border: 1px solid #fbf0e8;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Change color on hover */
  #viewBtn:hover {
  background-color: #f8d0d0;
  color: black;
  }


    /* metric toggle */
    .imperialmetrictoggle {
      display: flex; /* add flexbox layout */
      overflow: hidden;
    }
    
    .imperialmetrictoggle button {
      flex: 1; /* distribute available space equally */
      display: block;
      color: #333;
      text-align: center;
      padding: 0.5em;
      text-decoration: none;
      background-color: lightgray;
      border: 1px solid #fbf0e8;
      cursor: pointer;
      font-size: 16px;
    }
    
    /* Change color on hover */
    .imperialmetrictoggle button:hover {
    background-color: #f8d0d0;
    color: black;
    }
  
      /* interaction bar */
      .interactionbar {
        display: flex; /* add flexbox layout */
        overflow: hidden;
      }
      
      .interactionbar button {
        flex: 1; /* distribute available space equally */
        display: block;
        color: #333;
        text-align: center;
        padding: 0.5em;
        text-decoration: none;
        background-color: lightgray;
        border: 1px solid #fbf0e8;
        cursor: pointer;
        font-size: 16px;
      }
      
      /* Change color on hover */
      .interactionbar button:hover {
      background-color: #f8d0d0;
      color: black;
      }
  
    /* Change color on active */
    #likeBtn:active{
    background-color: #f8d0d0;
    color: red;
    }
  
    /* Change color on active */
    #bookmarkBtn:active{
      background-color: #f8d0d0;
      color: blue;
      }
  
       /* Change color on active */
    #commentBtn:active{
      background-color: #f8d0d0;
      color: green;
      }
  
    .commentsection {
      margin-top: 20px;
      display: none;
    }
  
    .textarea {
      width: 100%;
      font-family: inherit;
      font-size: 100%;
      overflow: hidden;
      resize: both;
      min-height: 40px;
      line-height: 30px;
    }
  
      /* interaction bar */
      .commentbar {
        display: flex; /* add flexbox layout */
        overflow: hidden;
      }
      
      .commentbar button {
        flex: 0.32; /* distribute available space equally */
        display: block;
        color: #333;
        text-align: center;
        padding: 0.5em;
        text-decoration: none;
        background-color: lightgray;
        border: 1px solid #fbf0e8;
        cursor: pointer;
        font-size: 16px;
      }
      
      /* Change color on hover */
      .commentbar button:hover {
      background-color: #f8d0d0;
      color: black;
      }

      .feedbacksection {
        margin-top: 20px;
        display: block;
      }
    
      .feedbacksection .textarea {
        width: 100%;
        font-family: inherit;
        text-align: center;
        font-size: 100%;
        overflow: hidden;
        resize: both;
        min-height: 40px;
        line-height: 100px;
      }

       /* interaction bar */
       .feedbackbar {
        display: flex; /* add flexbox layout */
        overflow: hidden;
      }
      
      .feedbackbar button {
        flex: 1; /* distribute available space equally */
        display: block;
        color: #333;
        text-align: center;
        padding: 0.5em;
        text-decoration: none;
        background-color: lightgray;
        border: 1px solid #fbf0e8;
        cursor: pointer;
        font-size: 16px;
      }
      
      /* Change color on hover */
      .feedbackbar button:hover {
      background-color: #f8d0d0;
      color: black;
      }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
    .narrownav {
      display: block;
    }
    .side {
      display: none;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .narrownav {
      display: block;
    }
    .side {
      display: none;
    }
    .imperialmetrictoggle{
      display: none;
    }
  }